
body
{
    overflow: hidden;
}
.fake
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    min-width: 50px;
    size: 1000px;
}
button
{
    display: flex;
    justify-content: end;
    align-items: center;
    background: linear-gradient(rgb(0, 183, 255), rgb(5, 107, 44));
    border-radius: 60px;
}

#pg
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    mix-blend-mode: hue;
}
